* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ebebeb;
}

.gallery {
  height: 450px;
  width: 800px;
  position: relative;
}

.image-slider {
  height: 100%;
  width: 100%;
  overflow-x: auto;
  /* scroll-snap-type: x mandatory; */
  display: flex;
}

img {
  width: 100%;
  flex-shrink: 0;
  /* scroll-snap-align: center; */
}

.indicators {
  display: flex;
  align-items: center;
  gap: 8px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
}

.indicator {
  border-radius: 50%;
  background-color: lightgray;
  height: 10px;
  width: 10px;
  cursor: pointer;
}

.active {
  background: #ffffff;
  height: 16px;
  width: 16px;
}
