* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #222;
}

.container {
  padding: 24px 48px;
  display: flex;
  width: 1000px;
  align-items: center;
  justify-content: space-around;
}

.result-box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  flex-basis: 40%;
}

.result,
button {
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 20px;
}

button {
  background: #fff;
  color: #222;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease-in;
}

button:active {
  transform: scale(0.85);
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.shake {
  animation: shake 1s;
}

@keyframes shake {
  0% {
    transform: translate(4px, 4px) rotate(0deg);
  }
  10% {
    transform: translate(-4px, -4px) rotate(-10deg);
  }
  20% {
    transform: translate(4px, 4px) rotate(0deg);
  }
  30% {
    transform: translate(-4px, -4px) rotate(-10deg);
  }
  40% {
    transform: translate(4px, 4px) rotate(0deg);
  }
  50% {
    transform: translate(-4px, -4px) rotate(-10deg);
  }
  60% {
    transform: translate(4px, 4px) rotate(0deg);
  }
  70% {
    transform: translate(-4px, -4px) rotate(-10deg);
  }
  80% {
    transform: translate(4px, 4px) rotate(0deg);
  }
  90% {
    transform: translate(-4px, -4px) rotate(-10deg);
  }
  100% {
    transform: translate(4px, 4px) rotate(0deg);
  }
}
